body {
	background-color: #FFFFFF;
	font: 15px 'Roboto' Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  font: Comic Sans MS;
  
}

li {
  float: left;
  border-right: 0 px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;

}
h1 {
	color:black;
	background-color: white;
	padding: 0px 30px; 
	font: Impact;
}
.title{
	color: #427B9E; 
	padding: 14px 16px 14px 0px; 
	font-family: 'PT Serif', serif;
}
.menu
{
	display: block;
  color: white;
  text-align: center;
    float: right;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
   font-family: 'Roboto', Arial; 
}
.front
{
	background-color: #FFFFFF;
	font: 15px Arial, sans-serif;
	
}
/* Bente Noten template */







/*
h1, p, button {
    font-family: 'Roboto', Arial; !important!
    font-weight: 100;
    font-style: normal;
}

.filter {
    text-align: center;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
}

.filter p {
    padding-top: 15px;
    color: #000000;
    background-color: #FFFFFF;
    /* border-radius: 50px; *//*
    border: 5px solid #FFFFFF;
}
*/

.name
{
	display: block;
  color: white;
  text-align: center; 
  padding: 10px 4px 14px 40px; 
  text-decoration: none;
   font-family: 'Roboto', Arial; 
   font-size: 20px; 
}
.empty
{
	display: block;
  color: white;
  text-align: center;
    float: right;
  padding: 14px 16px 14px 40px;
  text-decoration: none;
}


.test {
	background-color:#D6E4ED;
	text-align: center; 
	padding: 15px 15px 15px 15px; 
}
.test2 {
	background-color:white;
	text-align: center; 
	padding: 15px 15px 15px 15px; 
}
.box {
	border-style: solid;
	text-align: center; 
	padding: 0px 0px 0px 0px; 
	border-color: #335B74;
	background-color: white; 
}

.masthead1{
display: block;
  color: #6D9FBD;
  text-align: center; 
  padding: 10px 40px 14px 40px; 
  text-decoration: none;
   font-family: 'Roboto', Arial; 
   font-size: 40px; 
}

.Masthead1Title{
	display: block;
  color: #335B74;
  text-align: center; 
  padding: 10px 40px 10px 40px; 
  text-decoration: none;
   font-family: 'PT Serif', Arial; 
   font-size: 20px; 

}

.Masthead1P
{
display: block;
  color: black;
  text-align: center; 
  padding: 10px 40px 10px 20px; 
  text-decoration: none;
   font-family: 'Roboto', Arial; 
   font-size: 20px; 	
}
.Masthead1P a
{
	  padding: 5px 2px 5px 20px; 
	
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: /*linear-gradient(to bottom, 
	rgba(51, 91, 116, 0.0) 0%, 
	rgba(51, 91, 116, 0.0) 0%, 
	#335B74 100%),*/
	url("Pictures/TreeBackground1.png");
   background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
	
}
/* Changing color*/

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* End Changing color menu*/


.foot {
	
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.text {
	background-color: white; 
	float: left;
	padding: 14px 30px; 
	color: #400E1B; 
	width: 100%; 
	font-family: 'Roboto', Arial;
}
.pdf {
	background-color: white; 
	float: center;
	padding: 14px 30px; 
	color: black; 
	width: 80%;
}
.image{
	float: left;
	color: black; 
	width: 100%; 
}

.box{
	color: black; 
	width: 20px 20px; 
}
.icon{
	font-size: 24px; 
	padding: 10px 10px; 
}

.bentea{
	color: white; !important!
}

a:link {
  color: #335B74;
}

/* visited link */
a:visited {
  color: #335B74;
}

/* mouse over link */
a:hover {
  color: #6D9FBD;
  text-decoration: none; 
}

/* selected link */
a:active {
  color: #335B74;
}

/*
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
/*
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
/*
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover 
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: #3e8e41;}

 {box-sizing:border-box}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
	font: Comic Sans MS;
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*
.float-left-area  {
		  width: 70%;
		  float: left;
		  }

.float-right-area {
		  width: 30%;
		  float: left;
		  }
*/
.inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 10px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.inner-right	  {
		  font-size: 11px;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }
/*---------------------------------------------------------*/
/*
.container {
  position: relative;
  width: 25%;
  height: 5%; 
  overflow:hidden;
  display: table-cell;
}*/


/*
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(50,50,50,0.5);
  color: white;
  text-align:center;
  padding-top: 5%;
 }*/

.container:hover .overlay {
  opacity: 1;
}
.container:hover .image {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
/*--------------------------------------------------------------*/
/* Change the link color to #111 (black) on hover */
li:last-child {
  border-right: none;
  font: Comic Sans MS;
}
.active {
  background-color: #4CAF50; 
  font: Comic Sans MS;
}

@media (min-width: 992px)
#mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
}
@media (min-width: 992px)
#mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
}
#mainNav {
    min-height: 56px;
    background-color: #fff;
}

/*------------------------------------------------------------*/
/* Opdracht pagina's */
.titel{
	font: 30px 'PT Serif', serif;
	
}
.ondertitel{
	font: 20px 'PT Serif', serif;
	background: #D6E4ED; 
}

.tekst{
	 font-family: 50px 'Roboto', Arial !important;
	
}
.conclusietitel{
	font: 20px 'PT Serif', serif; 
	color: white;
	font-weight: bold; 
}

.conclusiebox {
  background: #274659;
  border: 10px;
  padding: 15px;
  background-clip: border-box;  
}
.conclusiep{
	color: white; 
}


